.page-background {
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-size: cover;
  background-position: 50% 25%;
  background-attachment: scroll;
  background-repeat: no-repeat;
  position: relative;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.page-background::-webkit-scrollbar {
  display: none;
}